:root{
--roxo:rgb(128, 95, 206);
--preta: #141414;
--branco: #ffffff;    
}

/* reinicialização do css - border box evita quebra de conteúdo */ 
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/*elementos base*/
body{
background: var(--preta);
font-family: 'Arial', Times, serif;
color: white;
}

header .container{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}

header .logo{
color:var(--roxo);
font-family: 'Arial Black' , Times;
font-size: 40px;
margin-left: 10px;
}

header nav a{
text-decoration: none;
color: #AAA;
margin-right: 10px;

}

header nav a:hover{
color: #FFF;
}


/*filme principal*/
.filme-principal{
font-size: 16px;
background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/smw.jpg');

height: 400px;
background-repeat: no-repeat;
background-size: 100% 99%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;

}

.filme-principal .descricao{
margin-top: 10px;
margin-bottom: 40px;
margin-left: 10px;
}

.filme-principal .titulo{
margin-left: 10px;
margin-top: 15%;
font-size: 40px;
font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
background-color: rgba(0,0,0,.50);
border: none;
color: white;
margin-left: 10px;

padding: 15px 30px;

cursor: pointer;
transition: .3s ease all;
}

.botao:hover{
background-color: rgba(22, 10, 185, 0.603);
color: black;
}

.botao i{
margin-right: 18px;
}

.box-filme{
height: 100%;
width: 100%;
display: block;
}

.carrosel-filmes{
margin-top: 5px;
}

.games-cover{
margin-bottom: 5%;
}
    
    
.games-cover img{
border-radius: 20px;
width: 20%;
height: 20%;
margin: 10%;
margin-right: 40%; 
margin-bottom: 5%;
margin-top: 5%;
}
    
.games-cover h3{
color: rgb(255, 255, 255);
margin-left: 41%;
}

.game-background{
background-color: rgba(128, 95, 206, 0.274) ;
padding: 20px;

}


.footer{
bottom: 0;
position: fixed;
text-align: center;
background-color: rgb(0, 0, 0);
color:#FFFFFF;
width: 100%;
}