:root{
--roxo:rgb(128, 95, 206);
--preta: #141414;
--branco: #ffffff;    
}

/* reinicialização do css - border box evita quebra de conteúdo */ 
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/*elementos base*/
body{
background: var(--preta);
color: white;
}

header .container{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}

header .logo{
color:var(--roxo);
font-family: 'Arial Black' , Times;
font-size: 40px;
margin-left: 10px;
}

header nav a{
text-decoration: none;
color: #AAA;
margin-right: 10px;

}

header nav a:hover{
color: #FFF;
}


/*filme principal*/
.filme-principal{
font-size: 16px;
background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/smw.jpg');

height: 400px;
background-repeat: no-repeat;
background-size: 100% 99%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
}

.filme-principal .descricao{
margin-top: 10px;
margin-bottom: 40px;
margin-left: 10px;
}

.filme-principal .titulo{
margin-left: 10px;
margin-top: 15%;
font-size: 40px;
font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
background-color: rgba(102, 98, 98, 0.979);
border: none;
color: white;
margin-left: 10px;

padding: 15px 30px;

cursor: pointer;
transition: .3s ease all;
margin-bottom: 5%;
}

.botao:hover{
background-color: rgb(77, 67, 211);
color: black;
}

.botao i{
margin-right: 18px;
}

.box-filme{
height: 100%;
width: 100%;
display: flex;
}

.carrosel-filmes{
margin-top: 5px;
}
  
.game-broxo{
background-color: rgba(128, 95, 206, 0.274) ;
}

.game-broxo{
background-color: rgba(128, 95, 206, 0.274) ;
}


.game-broxo img, .game-bpreto img{
border-radius: 10px;
width: 20%;
height: 20%;
margin: 10%;
margin-left: 37%; 
margin-bottom: 1%;
margin-top: 5%;
}

.game-broxo p, .game-bpreto p{
text-align: justify;
margin-left: 2%;
margin-right: 2%;
}

.botoes-rom{
margin-left: 40.2%;
margin-bottom: 0%;
}

.footer{
bottom: 0;
position: fixed;
text-align: center;
background-color: rgb(0, 0, 0);
color:#FFFFFF;
width: 100%;
}