@media screen and (max-width:700px){
header .container{
display: flex;
flex-direction: column;
}

.botao{
margin-top: 5px;
width: 190px;
}

}

@media screen and (max-width: 900px){
.descricao{
width: 50%;
}

.card {
grid-template-columns: 180px;   
grid-template-rows: 150px 100px 40px; 
}

.card-text h2{
font-size: 12px;
}

.card-text p {
color: grey;
font-size: 6px;
font-weight: 300;
}

.card-stats a i {
margin: 15px;
font-size: 15px;
color: white;
}

.sobre{
padding: 50px;
text-align: center;
margin-top: 10%;
font-size: 40px;
background-color:#140d1b2c;
font-family: 'Arial Black' , Times;
}

.sobre p{
font-size: 20px;
}








}

@media screen and (max-width: 600px){
.descricao{
width: 30%;
}

.card {
display: grid;
grid-template-columns: 120px;   
grid-template-rows: 150px 100px 40px; 
grid-template-areas: "image" "text" "stats";
margin-right: 3%;
margin-left: 2%;

font-family: roboto;
background: white;
box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
text-align: center;

transition: 0.3s ease;
}

.card-image img{
grid-area: image;
width: 100%;
height: 100%;
}

.card-text {
grid-area: text;
margin: 9px;
}

.card-text h2{
color: var(--preta);
margin-top: 0px;
font-size: 10px;
}

.card-text p {
color: grey;
font-size: 6px;
font-weight: 300;
}

.card-stats {
background-color: rgb(54, 161, 32);
}

.card-stats a i {
margin: 15px;
font-size: 9.5px;
color: white;
}

.card-stats :hover {
color: rgb(129, 241, 125);
}

.card:hover {
transform: scale(1.2);
box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.sobre{
padding: 50px;
text-align: center;
margin-top: 10%;
font-size: 30px;
background-color:#140d1b2c;
font-family: 'Arial Black' , Times;
}

.sobre p{
font-size: 10px;
}




}